[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox-pipenv = "*"
twine = "*"
tox = "*"

[dev-packages]
twine = "*"
coverage = "*"
pipenv = "*"
flake8 = "*"
autopep8 = "*"
mock = "*"

[requires]
python_version = "3.9"
